# Entornos virtuales de Python
venv/
env/
__pycache__/
.env.local

# Dependencias de Node (Frontend)
node_modules/

# PyInstaller - solo ignorar exe y temporales, no el frontend/dist
build/
dist/SkinCancerClassifier.exe
*.log

# Archivos de entorno
.env

# Modelos
*.h5
*.pt
*.pth

# Ignorar pesos del modelo pesado
backend_api/model_weights/*.zip
backend_api/model_weights/*.pt
backend_api/hybrid_final.zip/*.pt

