# Entornos virtuales de Python
venv/
env/
__pycache__/
.env.local
dist

# Dependencias de Node (Frontend)
node_modules/
dist/

# Archivos de entorno y secretos (¡NUNCA subas contraseñas o tokens!)
.env

# Modelos pesados de IA (Opcional, si tu modelo pesa más de 100MB)
*.h5
*.pt
*.pth

# Ignorar pesos del modelo pesado
backend_api/model_weights/*.zip
backend_api/model_weights/*.pt
backend_api/hybrid_final.zip/*.pt

